@import url('https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import './_global.scss';
@import './_inputs.scss';

.bg-black {
  background-color: green !important;
}
svg {
  position: absolute;
  z-index: 0;
}